@import url('https://fonts.googleapis.com/css?family=Hind|Cantarell|Montserrat|Raleway:100');
@import 'stylesheets/coin/index.css';
@import 'stylesheets/user/index.css';
@import 'stylesheets/announcements.css';
@import 'stylesheets/home.css';
@import 'stylesheets/contact.css';
@import 'stylesheets/donate.css';
@import 'stylesheets/footer.css';
@import 'stylesheets/faq.css';
@import 'stylesheets/grade.css';
@import 'stylesheets/legend.css';
@import 'stylesheets/navbar.css';
@import 'stylesheets/media.css';
@import 'stylesheets/loading.css';

.bottom {
  position: fixed;
  top: 10%;
  right: 2%;
  font-size: 40px;
}
.right { float: right; }

.App {
  text-align: center;
}

.body {
  margin-top: 15px;
}

:root {
  --link-color: #428bca;
  --light-gray: #abb1bf;
}

a {
  color: gray;
}

a, a:active, a:hover {
  text-decoration: none;
}

label {
  font-size: 18px;
}

.hidden { display: none; }
.hidden:target { display: block; }

.negative-change { color: #d14836 }
.positive-change { color: #093 }

.pagination {
  float: right;
  color: var(--primary);
  margin-bottom: 5px;
}

.card {
  border: none;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

/* DISCLAIMER BEGIN */
.disclaimer-container {
  margin-top: 75px;
  padding: 20px;
}

.disclaimer-content {
  margin: 50px 0;
  text-align: left;
}
