.coin-body {
  margin-top: 30px;
  text-align: left;
}

.card-body {
  padding: 10px;
}

.side-content-container {
  padding: 10px;
}
.side-content-container p {
  margin: 0;
  font-size: 15px;
}
.side-content-container h5 {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 700;
  color: #505050;
}





.details-container {
  margin-top: 80px;
}

.details-container .nav-link {
  cursor: default;
}
.tab-content {
  margin-top: 10px;
}


.details-container th {
  padding: 5px;
  font-size: 15px;
  color: #444;
  background-color: #ececec;
}
.details-container td {
  padding: 5px;
  font-size: 13px;
}
.details-container a {
  color: #1070e0;
}
.details-container a:hover {
  color: #66a0ff;
}

.coin-detail-description-wrapper {
  margin-top: 50px;
}




.twitter-tab p {
  margin-bottom: 3px;
  font-size: 15px;
}
.twitter-tab span {
  color: #a08500;
  font-size: 15px;
}
