.faq-header-container {
  font-family: 'Hind', sans-serif;
  background-color: #cef0fa;
  height: 200px;
  color: #5b6a72;
  margin-top: 75px;
}

.faq-header {
  padding: 30px 50px;
}

.faq h2 {
  line-height: 50px;
  letter-spacing: 3px;
}

.faq-content-container {
  text-align: left;
  margin: 30px;
}

.faq-content-container b {
  font-weight: 700;
  font-size: 1.3em;
  display: block;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #333;
}
