.grade-box {
  background: #cccccc;
  color: white;
  padding: 6px 11px;
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: default;
  font-size: 1.5em;
}

.grade-text { font-size: 17px;}
.gb-a { background: #00a300; }
.gb-b { background: #2d89ef; }
.gb-c { background: #ffc40d; color: #564a23; }
.gb-d { background: #ff8c00; color: #463d20; }
.gb-f { background: #ee1111; }
.gb-n { background: gray; }
.gb-sm { padding: 5px 10px; }

.grade-wrapper {
  margin: 10px 0 20px 0;
  text-align: center;
}

.change-list-container {
  text-align: center;
  top: -30px !important;
  left: 60px !important;
  min-width: 45px;
  padding: 0px;
}
.change-list-container .grade-box {
  font-size: 1rem;
}
.change-list {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 0px;
}
.change-list li {
  cursor: pointer;
}
.change-list .grade-box:hover {
  transform: scale(1.52);
  border: 1px solid white;
}
.rating-list-table button {
  border-radius: 50%;
  padding: 10px;
}