.home {
  text-align: left;
  font-size: 13px;
}

.rating-tab {
  cursor: default;
}

.list-table {
  font-family: Montserrat,sans-serif;
}

.rating-list-table td {
  vertical-align: middle;
}

.coin-list-logo {
  width: 20px;
}

.list-pagination {
  margin-top: 10px;
}

.list-sort {
  cursor: pointer;
}
.list-sort span {
  color: #66cda3;
}
