.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  padding: 20px 0px 20px 2px;
}

.legend {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: Montserrat,sans-serif;
  color: gray;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}
.legend-header {
  text-align: center;
}
