@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

@media (max-width: 1000px) {
  .grade-text { font-size: 15px; }
  .grade-box { padding: 10px 15px; }

  .list-7d, .list-24h { display: none; }
}

@media (max-width: 770px) {
  .list-marketcap { display: none; }
  .grade-box { padding: 5px 10px; }
  .grade-text { font-size: 10px; }
  .subnav-content { font-size: 15px; }
  .subnav-content a { padding-right: 30px; }
  .footer-container .row { display: block; }
  .right-footer { padding-left: 0; float: left; }
  .user-nav-container {
    flex: none;
    max-width: none;
    margin-bottom: 20px;
  }
  .user-table-container { flex: none; max-width: none; }

  .faq-header h2,
  .contact-header h2 { font-size: 20px; }
  .faq-header h5,
  .contact-header h5 { font-size: 15px; }
  .faq-header-container,
  .contact-header-container { height: 150px; }
  .faq-header,
  .contact-header { padding: 15px; }

  .faq,
  .faq b, 
  .disclaimer-container,
  .contact
  {
    font-size: 13px;
  }

  .disclaimer-container h5 { font-size: 15px; }
  .disclaimer-container h2 { font-size: 17px; }

}

@media (max-width: 550px) {
  .how-it-works { font-size: 10px; }
  .how-it-works-header h2 { font-size: 1.5rem; }
  .how-it-works-header h5 { font-size: 1rem; }
  .subnav-content { font-size: 10px; }
  .coin-container { margin: 10px; }
  .coin-price { font-size: 20px; }
  .coin-price span { vertical-align: top; }
  .coin-main h1 { font-size: 2rem; }
  .coin-logo { width: 50px; }
}

@media (max-width: 500px) {
  .body { padding: 0; }

  .row { margin: 0; }

  .list-table thead,
  .list-table tbody { font-size: 10px; }

  .title-full { display: none; }
  .title-short { display: inline-block; }
  .footer-brand-wrapper .title-full { display: none; }
  .footer-brand-wrapper .title-short { display: inline-block; }

  .footer-brand-wrapper {
    width: 130px;
  }

  .right-footer .col {
    padding-left: 0;
  }

  .flex-item {
    margin-right: 10px;
    font-size: 7px;
  }

  .subnav-content a { padding-right: 15px; }

  .gb-sm {
    font-size: 10px;
    padding: 5px 8px;
  }

  .list-1h { display: none; }
  .coin-logo { width: 30px; }
}

@media (max-width: 400px) {
  .navbar { padding: 10px; }
  .page-item { font-size: 8px; }
}
