.user-nav-container {
  min-width: 200px;
}

.user-nav {
  text-align: left;
}

.user-nav i {
  padding-right: 15px;
  color: gray;
}

.user-nav .list-group-item {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  cursor: default;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.user-nav .list-group-item:hover {
  color: white;
  background-color: #C69CF9;
}
.user-nav .list-group-item:hover i {
  color: white;
}

.user-nav-selected {
  border-left: 5px solid #7041A9;
}

.profile-nav-icon {
  height: 150px;
  line-height: 100px;
  background-color: #7041A9;
}
.profile-nav-icon img {
  border-radius: 50%;
  vertical-align: middle;
}

.profile-username {
  color: white;
  padding-top: 15px;
  margin-bottom: -10px;
  font-family: Montserrat,sans-serif;
  letter-spacing: 2px;
}
