.user-profile-container {
  text-align: left;
  font-size: 20px;
}

.user-profile-container img {
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.users-data {
  font-size: 15px;
  margin-left: 10px;
  color: gray;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  padding: 0.375rem 0.75rem;
  cursor: default;
}

.user-table {
  text-align: left;
  font-size: 13px;
}
.user-table-heading {
  font-family: Montserrat,sans-serif;
  text-align: center;
}
